.topBar{
    background-color: #F8EDE3;
    border: 0cm;
    padding: 60px;
    margin: 0cm;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
}

li{
    list-style-type: none;
}

.mainMenu{
    text-align: center;
}

#date{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #D0B8A8;
}

button{
    background-color: #85586F;
}

li{
    background-color: #F8EDE3;
    border: 1cm;
    padding: 6px;
    width: 10cm;
    margin-left: 28%;
    text-align: center;
    border: #85586F;
}